.header {
  @include reset;
  background-color: $backgroundGreen;
  width: 100%;
  color: #ffffff;
}

.header__container {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.header__logo-wrapper,
.header__links-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__links-wrapper {
  justify-content: flex-end;
}

.header__logo-wrapper a {
  transition: opacity 0.5s;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

.header__links-wrapper a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  padding: 20px;
  outline: none;
  transition: color 0.5s;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $buttonGreen;
  }

  &:active {
    opacity: 0.4;
  }
}
