$roboto: "Roboto", "Arial", sans-serif;
$color: #4c4b51;
$darkColor: #1f1e25;
$blueColor: #2c36f2;
$lightBlueColor: #f6f7ff;
$maxWidth: 1366px;
$tabletResolution: 1023px;
$mobileResolution: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
